:root {
    --black-color: #222222;
    --black-super-color: #000000;
    --pink-color: #F1E4E6;
    --dark-pink-color: #F16D7F;
    --gray-color: #F8F8F8;
    --gray-light-color: #E8E8E8;
    --gray-light-middle-color: #e1e1e1;
    --gray-midle-color: #9F9F9F;
    --gray-dark-color: #5D5D5D;
    --gray-registration-color: #F8F3F4;
    /* --gray-input-color: #A4A4A4; */
    --white-color: #FFFFFF;
}

body {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--black-color);
}

.header__navigation {
    display: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__logo {
    margin: 0 40px 0 0;
}

.header__button {
    background: transparent;
    border: none;
    margin: 0 33px 0 0;
}

.header__link {
    margin: 0 33px 0 0;
}

.brand {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    margin: 0 0 63px;
}

.brand__title-container {
    background: var(--pink-color);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__sub-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__pink-sub-title {
    color: var(--dark-pink-color);
}

.promotions__list {
    margin: 0 0 63px;
}

.promotions__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promotions__item {
    position: relative;
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
}

.promotions__item--woman {
    background-image: url("../img/For_women.png");
    background-size: cover;
}

.promotions__item--men {
    background-image: url("../img/For_men.png");
    background-size: cover;
}

.promotions__item--kids {
    background-image: url("../img/For_kids.png");
    background-size: cover;
}

.promotions__item--accesories {
    background-image: url("../img/ACCESORIES.png");
    background-size: cover;
    width: 100%;
}

.promotions__title {
    position: absolute;
    /* left: 103px; */
    top: 105px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white-color);
}

.promotions__text {
    position: absolute;
    text-transform: uppercase;
    /* left: 103px; */
    /* right: 69.56%; */
    /* top: 105px; */
    /* bottom: 72.34%; */
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--dark-pink-color);
}

.products__title {
    margin-top: 96px;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: var(--black-color);
}

.products__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--gray-midle-color);
}

.product__button {
    display: none;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
}

.products__item {
    width: 360px;
}

.product__img {
    display: block;
}

.product__description {
    background: var(--gray-color);
    padding: 25px 29px 20px 17px;
    margin-bottom: 48px;
}

.card__title {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--black-super-color);
}

.card__text {
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-dark-color);
}

.card__price {
    margin-top: 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink-color);
}

.button__browse {
    display: block;
    margin: auto;
    border: 1px solid #FF6A6A;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    padding: 14px 38px;
    background-color: var(--white-color);
}

.advantages {
    margin-top: 95px;
    background-color: var(--black-color);
}

.advantages__item {
    /* width: 360px; */
}

.advantages__icon {
    display: block;
    margin: auto;
}

.advantages__list {
    padding: 104px 0;
    display: flex;
    justify-content: space-between;
}

.advantages__description {}

.advantages__title {
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    color: var(--gray-color);
}

.delivery {
    margin-top: 28px;
}

.advantages__text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    margin-top: 16px;
    color: var(--gray-color);
}

.footer__subscribe {
    background-image: url(../img/footer_background.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    min-height: 450px;
}

.footer__subscribe-list {
    display: flex;
    justify-content: space-between;
    /* padding-top: 97px; */
    padding: 97px 0 126px;
}


/* .footer__subscribe-item { 
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.footer__subscribe-img {
    display: block;
    margin: auto;
}

.footer__text {
    width: 360px;
    text-align: center;
    margin-top: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--black-color);
}

.footer__subscribe-title {
    padding-top: 53px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    /* line-height: 167.2%; */
    line-height: 40px;
    /* or 40px */
    text-align: center;
    color: var(--black-color);
}

.footer__subscribe-text {
    text-transform: uppercase;
    font-size: 20px;
    /* font-weight: bold; */
    /* font-size: 24px; */
    line-height: 167.2%;
}

.footer__subscribe-block {
    margin-top: 32px;
    /* vertical-align: middle; */
}

.footer__subscribe-email {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    width: 275px;
    height: 49px;
    border: none;
    border-radius: 15px 0 0 15px;
    /* vertical-align: middle; */
    background-color: var(--gray-light-middle-color);
}

.footer__subscribe-button {
    border: none;
    border-radius: 0 15px 15px 0;
    width: 100px;
    height: 50px;
    margin-left: -3px;
    background-color: var(--dark-pink-color);
    font-size: 14px;
    line-height: 17px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: var(--white-color);
    /* color: var(--dark-pink-color); */
}

.footer__social {
    background-color: var(--black-color);
}

.footer__social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.footer__copyright {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray-color);
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-item {
    margin-right: 7px;
}

.header__link-opacity:hover,
.header__link-opacity:focus {
    opacity: 0.7;
}

.header__button-icon {
    fill: var(--gray-light-color);
}

.header__button:hover .header__button-icon,
.header__link:hover .header__button-icon {
    fill: var(--dark-pink-color);
}

.registration__header {
    background-color: var(--gray-registration-color);
}

.registration__title {
    padding: 60px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink-color);
}

.registration__block {
    margin-top: 0;
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.registration__contacts {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.registration_loyalty {
    margin-left: 128px;
    width: 652px;
}

.registration_loyalty-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--black-super-color);
}

.registration_loyalty-text {
    margin-top: 22px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--black-super-color);
}

.registration_loyalty-list {
    margin-top: 6px;
    margin-left: 25px
}

.registration_loyalty-offer {
    position: relative;
    padding-top: 16px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--black-super-color);
}

.registration_loyalty-offer::before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    left: -25px;
    bottom: 5px;
    background-image: url(../img/marker.svg);
}

.registration__contacts-input {
    border: 1px solid #A4A4A4;
    min-width: 350px;
    min-height: 45px;
    display: block;
    margin-top: 20px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.registration__contacts-female {
    margin-left: 20px;
}

.registration__contacts-radio {
    margin-top: 31px;
    margin-bottom: 33px;
}

.registration__contacts-text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    margin-top: 15px;
    color: #B1B1B1;
}

.registration__contacts-button {
    margin-top: 39px;
    background-color: var(--dark-pink-color);
    width: 167px;
    height: 50px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--white-color);
}