$black-color: #222222;
$black-super-color: #000000;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$gray-color: #F8F8F8;
$gray-light-color: #E8E8E8;
$gray-light-middle-color: #e1e1e1;
$gray-midle-color: #9F9F9F;
$gray-dark-color: #5D5D5D;
$gray-registration-color: #F8F3F4;
$gray-menu-color: #6F6E6E;
$white-color: #FFFFFF;
$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;