.advantages {
    margin-top: 95px;
    background-color: $black-color;
    &__icon {
        display: block;
        margin: auto;
    }
    &__list {
        padding: 104px 0;
        display: flex;
        justify-content: space-between;
    }
    // .advantages__description {}
    &__title {
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        text-align: center;
        margin-top: 20px;
        color: $gray-color;
    }
    .advantages__delivery {
        margin-top: 28px;
    }
    &__text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        margin-top: 16px;
        color: $gray-color;
    }
}

// .advantages__item {

/* width: 360px; */

// }