.banner {
    &__header {
        background-color: $gray-registration-color;
    }
    &__title {
        // padding: 60px 0;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: $dark-pink-color;
    }
    &__header-bread {
        display: flex;
        justify-content: space-between;
        padding: 60px 0;
    }
    &__bread-text {
        font-size: 14px;
        line-height: 17px;
    }
    &__breadcrumb {
        text-decoration: none;
    }
    &__bread-actual {
        color: $dark-pink-color;
        font-weight: 700;
    }
}