.advantages {
    margin-top: 95px;
    background-color: $black-color;
    &__icon {
        display: block;
        margin: auto;
    }
    &__list {
        padding: 104px 0;
        display: flex;
        justify-content: space-between;
        @include tablet {
            display: block;
            padding: 1px 0 64px;
            // padding-bottom: 64px;
            margin: auto;
            width: 49%;
        }
        @include mobile {
            // padding: 48px 0 64px;
            text-align: center;
        }
    }
    &__item {
        @include tablet {
            //     padding-top: 48px;
            //     margin-bottom: 48px;
        }
    }
    &__icon {
        @include tablet {
            margin: 48px auto 0;
        }
    }
    // .advantages__description {}
    &__title {
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        text-align: center;
        margin-top: 20px;
        color: $gray-color;
    }
    &__delivery {
        margin-top: 28px;
    }
    &__text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        margin-top: 16px;
        color: $gray-color;
    }
}

// .advantages__item {

/* width: 360px; */

// }